/* https://colorhunt.co/palette/16615?ref=tab
#ffd460 #a7425c #ea5455 #432f44
#543a3a #c2cfd8 #e1eeff #fafafa
#b689b0 #d5a4cf #f9bcdd #fff1ac
#553c8b #9ea9f0 #ccc1ff #ffeafe
*/
body{
  text-align: center;
  background-color: #EAF6F6;
  font-family: 'Slabo 27px', serif;
  margin: 0;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

hr {
  border: none;
  border-top: 10px dotted;
  width: 5%;
  color: #EAF6F6;
  margin: 100px auto;
}

a {
  text-decoration: none;
  margin: 10px 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #11999E;
}

a:hover {
  color: #EAF6F6
}

.top-container{
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: white;
  padding: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;
}

.top-cloud{
  position: absolute;
  right: 650px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 650px;
  bottom: 350px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.protection-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.robot-img  {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.profile {
  text-align: center;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Slabo 27px', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  padding-bottom: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
